<div class="row">
    <%= form_for @contact do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        
        <%= f.label :email %>
        
        <%= f.label :comments %>
        

    
    
    
    
    <% end %>
   
    
</div>